body
{
  background-color:#E9967A;
  margin:auto;
  width:60%;
  padding-bottom:50px;
  margin-bottom:50px;
}

div
{
  text-align:center;	
}

#author
{
  font-size:medium;
  font-style:italic;
  text-align:center;
}

#tut
{
  text-align:center;
}